/* Photo Grid Start */

html,body {
  height:100%;
}

.board-group.clearfix {
  float: left;
  width: 33.3%;
  cursor: pointer;
}

.main-content.eqiupment {
  padding-top: 8%;
}

.equip-grid-head {
  width: 100%;
  text-align: center;
  background: #0a3859;
  padding: 1%;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid rgba(107, 109, 118, .3);

}

.equip-grid-head h1, h2 {
  color: #fff;
  text-align: center !important;
}

/* Longboard Split Section 1 */

.split-content-wrapper {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.split-content-wrapper > div {
  width: 50%;
  padding: 2%;
}

.eq-split-content.right {
  padding: 12% 4%;
  background: rgba(0, 193, 217, .15);
}

.eq-split-content.right h2 {
  color: #0a3859;
  text-align: left !important;
  font-weight: 600;
  font-variant: small-caps;
}

.eq-split-content.right p {
  color: #0a3859;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}

/* Shortboard Split Section 2 */

.eq-split-content-left.two {
  padding: 12% 4%;
  background: rgba(0, 193, 217, .15);
}

.eq-split-content-right.two {
  padding: 5%;
  background: transparent;
}

.eq-split-content-left.two h2 {
  color: #0a3859;
  text-align: left !important;
  font-weight: 600;
  font-variant: small-caps;
}

.eq-split-content-left.two p {
  color: #0a3859;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}

/* Short Section 2 End*/

/* Card Flip from this CodePen https://codepen.io/shayhowe/pen/Fvjnf */

.eq-split-content.left,
.eq-split-content-right.two {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.card-container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  perspective: 600;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
}

.eq-split-content.left:hover,
.eq-split-content-right.two:hover {
  transform: rotateY(180deg);
}

.eq-split-content.left .side,
.eq-split-content-right.two .side {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.eq-split-content.left .back,
.eq-split-content-right.two .back {
  transform: rotateY(180deg);
}

/* Flip End*/

.flexbox_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

#board_table {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}

#board_table img:hover {
  opacity: 1;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.surfboard-grid {
  width: 33%;
  float: left;
  height: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 50.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Figure Caption */

.equip-content { 
  display: block; 
  position: relative; 
}

.equip-content .equip-content-overlay {
  background: rgba(10, 56, 89, 0.7) !important;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.equip-content:hover .equip-content-overlay {
  opacity: 1;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

figcaption { 
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

figcaption.fadeIn-bottom h1 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

figcaption p {
  margin-bottom: 0px !important;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-variant: small-caps;
}

figure:hover figcaption {
  top: 50%;
  left: 50%;
  opacity: 1;
}