
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {

.navbar-brand {
  float: none; 
  height: 0px !important; 
  padding: 0px !important; 
  font-size: 0px !important; 
  line-height: 0px !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  margin-top: 4%;
}

img.logo {
  width: 30%;
  margin: 2%;    
  padding: 0%;
}

.arrow.bounce {
  display: none;
}

.carousel-caption {
  right: 10% !important;
  left: 10% !important;
  top: 30% !important;
}

/* Modal */

.row.timeline {
    position: relative;
    bottom: 0;
    left: 0%;
    right: 0%;
    padding-bottom: 2%;
}

}

@media screen and (min-width: 2556px) {

  .carousel.slide.equipment {
    width: 55%;
  }

  .carousel-wrapper {
    width: 55%;
  }

}

/* =======================================
MOBILE LAYOUT
======================================= */

/* MOBILE GLOBAL */



/* Smartphones (portrait) (max-device-width : 425px) ----------- */

@media only screen and (max-device-width : 425px) {

  /* Navbar*/

  img.logo {
    width: 50%;
    margin: 3% 8%;
    float: left;
    padding-left: 0px;
    padding-top: 0px;
  }

  .header.relative {
    margin-bottom: 0px;
    height: 70px;
  }

  div#js-navbar-collapse {
    background: rgba(156, 154, 149, 1);
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border-color: #fff;
  }

  .navbar-header {
    width: 100%;
  }

  /* Dropdown */

  ul.nav.navbar-nav {
    float: none;
    padding: 5% 0%;
    margin: 0;
    padding-right: 0px !important;
  }

  .carousel-control {
    display: none;
  }

  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
    top: 25% !important;
  }

  .carousel-caption h1 {
    font-size: 2em !important;
  }

  .content-wrapper2 h2 {
    font-size: 1.5em !important;
  }

  .content-wrapper2 a.btn.caption.section5_button {
    font-size: 1em !important;
  }

  .section.bcg-parallax {
    padding: 22% 0% !important;
  }

  .bcg {
    height: 126% !important;
  }

  /* Equipment Page */

  /* Hero Video */

  .videoWrapper {
    padding-bottom: 40%;
}

  li.page-item.disabled {
    display: block;
  }

  li.page-item {
    display: none;
  }

  .col-md-4 {
    width: 100%;
    padding: 5%;
  }

  .flex-item.social {
    width: 25%;
  }

  .col-md-12 h5 {
    width: 100%;
  }

  #back2Top {
    left: 85%;
  }

  /* Photographers Page */


}

/* Smartphones (portrait) (max-device-width : 375px) ----------- */

@media only screen and (max-device-width : 375px) {

  section.end {
    position: absolute;
    top: 409.2% !important;
  }

}



/* Smartphones (portrait) (max-device-width : 320px) ----------- */

@media only screen and (max-device-width : 320px) {


}

/* Smartphones (landscape) (max-device-width : 667px) ----------- */

@media only screen and (min-width: 480px) and (max-width: 667px) {



}

/* TABLETS */

/* Tablet (portrait) (max-device-width : 767px) ----------- */

@media only screen and (max-device-width: 767px) {

  figcaption {
    display: none !important;
  }

  .section.bcg-parallax {
    padding: 22% 0%;
    color: #fff;
    background-color: #000;
    position: relative;
    overflow: hidden;
  }

}

/* iPads Portrait Only */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

  /* Styles here */

}

/* iPads Landscape Only ----------- */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

  /* Styles here */

}

/* Collapse Navbar at  ----------- */

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

@media (min-width: 1200px) {

  .navbar-brand {
    height: 0px !important;
  }
}

/* General Media Queries ----------- */

@media only screen and (max-width: 1440px) {

.carousel-caption.photogs {
    top: 65% !important;
}


}

@media only screen and (min-device-width : 1680px) {

  /* Styles here */

}

/* General Media Queries ----------- */

@media only screen and (min-device-width : 1900px) {

  /* Styles here */

}