/*
Site:       Nalu.live
Author:     Steve Dillon
Converted:  July, 2018

Table of Contents
1.  TABLETS (max-width: 768px)
2.  Smartphones (portrait) (max-device-width : 425px)
3.  Smartphones (portrait) (max-device-width : 375px)
4.  Smartphones (portrait) (max-device-width : 320px)
5.  Smartphones (landscape) (max-device-width : 667px)
6.  Collapse Navbar at max-width: 1200px
7.  General Media Queries - (max-width: 1440px)
8.  General Media Queries - (max-width: 1680px)
9.  General Media Queries - (max-width: 1900px)
10. General Media Queries - (max-width: 2556px)


/* =======================================
Nalu Branding
======================================= */

/* Brand Colors 

Primary Blue: #0a3859 
Secondary Blue: #00c1d9
Accent Color: #FFBC00
Site Grey: #6B6D76;
Ice White: #f4fafe;
*/

/* ----------- TABLETS (max-width: 768px) ----------- */

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {

  img.logo {
    width: 30%;
    margin: 2%;    
    padding: 0%;
  }

  .arrow.bounce {
    display: none;
  }

  .carousel-caption {
    right: 10% !important;
    left: 10% !important;
    top: 30% !important;
  }

  /* Modal */

  .row.timeline {
    position: relative;
    bottom: 0;
    left: 0%;
    right: 0%;
    padding-bottom: 2%;
  }

  .section.bcg-parallax {
    padding: 22% 0%;
    color: #fff;
    background-color: #000;
    position: relative;
    overflow: hidden;
  }

  .dropdown ul {
    position: absolute !important;
    top: 60% !important;
    left: 32%;
    padding: 5%;
    background-color: white !important;
    box-shadow: 0 3px 6px rgba(0,0,0,.175) !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0a3859 !important;
    padding: 5% 28% !important;
}

  .carousel-caption.photogs {
    top: 35% !important;
    width: 95%;
}

/* Equipment Board Section Description */

.eq-split-content.right #col,
.eq-split-content-left.two #col,
.eq-split-content.right.slater blockquote.equip-merrick {
  display: none;
}

.arrow_box:after,
.arrow_box2:after {
  display: none;
}

.card {
  top: 15%;
}

}

/* iPads Portrait Only */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

  ul.nav.footer.navbar-nav {
    display: inline-flex;
    float: right !important;
    padding-top: .5%;
  }

}

/* iPads Landscape Only ----------- */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {


}

/* ----------- Smartphones (portrait) (max-device-width : 425px) ----------- */

@media only screen and (max-device-width : 425px) {

  /* Navbar*/

  img.logo {
    width: 50%;
    margin: 3% 8%;
    float: left;
    padding-left: 0px;
    padding-top: 0px;
  }

  .header.relative {
    margin-bottom: 0px;
    height: 70px;
  }

  div#js-navbar-collapse {
    background: rgba(156, 154, 149, 1);
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border-color: #fff;
  }

  .navbar-header {
    width: 100%;
  }

  /* Dropdown */

  ul.nav.navbar-nav {
    float: none;
    padding: 5% 0%;
    margin: 0;
    padding-right: 0px !important;
  }

  .carousel-control {
    display: none;
  }

  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
    top: 25% !important;
  }

  .carousel-caption h1 {
    font-size: 2em !important;
  }

  .content-wrapper2 h2 {
    font-size: 1.5em !important;
  }

  .content-wrapper2 a.btn.caption.section5_button {
    font-size: 1em !important;
  }

  .section.bcg-parallax {
    padding: 22% 0% !important;
  }

  .bcg {
    height: 126% !important;
  }

  /* Equipment Page */

  /* Hero Video */

  .videoWrapper {
    padding-bottom: 40%;
  }

  li.page-item.disabled {
    display: block;
  }

  li.page-item {
    display: none;
  }

  .col-md-4 {
    width: 100%;
    padding: 5%;
  }

  .flex-item.social {
    width: 25%;
  }

  .col-md-12 h5 {
    width: 100%;
  }

  #back2Top {
    left: 85%;
  }

  .eq-split-content.right,
  .eq-split-content-left.two {
    padding: 2% 4%;
  }

  .eq-split-content.right.slater {
    padding: 5% 4%;
  }

  .eq-split-content.right h2,
  .eq-split-content-left.two h2 {
      font-size: 1.5em;
  }

  .eq-split-content.right h3,
  .eq-split-content-left.two h3 {
    font-size: 1.2em !important;
    line-height: 1.2;
  }

  /* Timeline */

  span.title.pre-1900s {
    font-size: 10px;
    margin-top: 8%;
    line-height: 14px !important;
  }

  .title {
    text-align: center;
    font-size: .8em;
    display: block;
    color: #fff;
    line-height: 40px;
  }

  /* Modal Pagination */

  ul.pagination.mx-auto.text-center {
    margin: 4% 0% 0% 5%;
  }

  .carousel-inner.equipment {
    width: 100%;
    height: auto !important;
}

.eq-split-content.left:hover,
.eq-split-content-right.two:hover {
  transform: rotateY(0deg) !important;
}

.side.back {
    display: none;
}

}

/* ----------- Smartphones (portrait) (max-device-width : 375px) ----------- */

@media only screen and (max-device-width : 375px) {

  section.end {
    position: absolute;
    top: 409.2% !important;
  }

}

/* ----------- Smartphones (portrait) (max-device-width : 320px) ----------- */

@media only screen and (max-device-width : 320px) {


}

/* ----------- Smartphones (landscape) (max-device-width : 667px) ----------- */

@media only screen and (min-width: 480px) and (max-width: 667px) {


}

@media (max-width: 1170px) {

  .cd-date.right, .cd-date.left {
    display: none;
  }

}

/* ----------- Collapse Navbar at max-width: 1200px ----------- */

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  div#js-navbar-collapse {
    background: #0a3859;
    padding: 2%;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  img.logo {
    margin: 3% 5% !important;
  }

  .navbar-brand {
    float: none; 
    height: 0px !important; 
    padding: 0px !important; 
    font-size: 0px !important; 
    line-height: 0px !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle {
    margin-top: 4%;
  }

  ul.nav.navbar-nav {
    padding-right: 0% !important;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 3% 0%;
  }

}

@media (min-width: 1200px) {

  .navbar-brand {
    height: 0px !important;
  }
}

@media (max-width: 1300px) {

  img.logo {
    margin: 0% 5%;
  }

}

/* ----------- General Media Queries ----------- */

@media only screen and (min-width: 1440px) {

  .carousel-caption.photogs {
    top: 55% !important;
    width: 70%;
  }

  .section.content-wrapper3.fade-in h3 {
    font-size: 16px !important;
}

}

@media only screen and (min-device-width : 1680px) {

.carousel-caption.photogs {
    top: 65% !important;
    width: 70%;
}

}

/* General Media Queries ----------- */

@media only screen and (min-device-width : 1900px) {

  /* Styles here */

}

@media screen and (min-width: 2556px) {

  .carousel.slide.equipment {
    width: 55%;
  }

  .carousel-wrapper {
    width: 55%;
  }
}

@media screen and (max-width: 700px) {

  .carousel-caption.photogs {
      display: none;
  }
}

@media screen and (max-width: 1250px) {

  p#col {
    opacity: 0;
      -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
  }
}

@media screen and (max-width: 1240px) {

  p#col {
    display: none;
  }
}