/* Modals */

.carousel-inner.timeline {
    padding: 2%;
}

.modal-content {
  height: auto;
}

.modal-dialog {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  color: #003859;
  margin: 2% 0%;
  border-bottom: 0px !important;
}

.modal-title {
  font-weight: 600;
}

.modal-description {
    font-size: 1.2em;
    color: #003859;
    margin-top: 2%;
}

.modal-body h1 {
  color: #003859;
}

a.left.carousel-control.timeline,
a.right.carousel-control.timeline {
    top: 40%;
}

.col-2 p {
  font-size: 1.2em;
  color: #003859;
  margin-top: 2%;
}

.close {
  font-size: 58px;
  line-height: 0;
}