/**, *:before, *:after {
border: 1px solid red;
}
*/

/* Larger Modal */

div#myModal {
    z-index: 10001;
    padding-right: 0px !important;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
  border: 0px !important;
}

.modal-content.timeline,
.modal-content.equipment {
    bottom: 0;
}

.modal-dialog {
  /*position: fixed;*/
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

/*.modal-header {
  color: #003859;
  margin: 2% 0%;
  border-bottom: 0px !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
}*/

.modal-header {
  border-bottom: 0px !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 2% 2% 0% 5%;
  border: 0;
}

.modal-title {
  font-weight: 600;
}

.modal .col-1 {
    width: 33%;
    float: left;
    padding: 2%;
}

.modal .col-2 {
    padding: 2%;
}

/* Image Grid Start */

.p-img-wrapper {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.p-grid {
    width: 30%;
    float: left;
    margin: 0% 0% 2% 2%;
}

.p-img-group img {
    margin-top: 0% !important;
}

/* Image Grid End */

.modal-description {
    font-size: 1.2em;
    color: #003859;
    margin-top: 2%;
}

.col-1 .description {
    font-size: 1.2em;
    color: #003859;
    margin-top: 2%;
}

.col-2 p {
  font-size: 1.2em;
  color: #003859;
  margin-top: 2%;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 11% !important;
    width: 10% !important;
    margin-left: 0% !important;
}

.carousel-indicators li {
    background-color: #0A3859;
    background-color: #0A3859;
    border: 0px solid #0A3859;
}

.carousel-indicators .active {
    background-color: #00C1D9 !important;
}

/* Image Grid End */

/* Equipment Modal Start */

.modal-body h1 {
  color: #003859;
  width: 100%;
  font-weight: 300;
  padding-left: 2%;
}

.modal-body.equipment {
  padding: 15px;
  margin: 5% 0%;
}

.modal-col.one {
  width: 50% !important;
  float: left;
}

.modal-col.two {
  width: 50%;
  float: left;
  padding: 5% 5% 0% 0%;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

a.left.carousel-control.timeline,
a.right.carousel-control.timeline {
    top: 40%;
}

.close {
  font-size: 58px;
}