/* Brand Colors 

Primary Blue: #0a3859 
Secondary Blue: #00c1d9
Accent Color: #FFBC00
Site Grey: #6B6D76;
Ice White: #f4fafe;
*/

/**, *:before, *:after {
border: 1px solid red;
}*/

/* Header */

.carousel-caption.photogs {
    top: 70% !important;
    right: 40% !important;
    left: 0% !important;
}

.section.content-wrapper3.fade-in h2,
.section.content-wrapper3.fade-in h3 {
    text-align: left !important;
    line-height: 1.4;
}

.content-wrapper3 {
    width: 90%;
    padding: 2% 5%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    background-color: hsla(0, 0%, 2%, 0.5);
    z-index: 2;
}

.photo-grid-head h2 {
  text-align: center;
  color: #fff;
}

.photo-grid-head {
  width: 100%;
  text-align: center;
  background: #2eb6d1;
  padding: 1%;
  color: #fff;
}

.title-head.box {
    animation-duration: 1.4s;
    animation-name: slidein;
    -moz-animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

h1#photogs {
    animation-duration: 1.8s;
    animation-name: slidein;
    -moz-animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

.int-title h2,
.int-title h1 {
    color: #0a3859;
}

.int-title h1 {
  font-weight: 600;
}

.flex-container-interviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
}

.interviews {
    width: 100%;
    background: #fff;
    position: relative;
    text-align: center;
    padding: 2% 0%;
    border-top: 1px solid #dcdcdc;
}

.interviews {
    float: left;
    width: 100%;
}

hr.int-hr {
    width: 60px;
    border: 1px solid #2eb6d1;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Carousel Start */

.carousel-wrapper {
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.item.photo {
  height: auto;
}

.photo.sub-item h3 {
    font-weight: 600;
}

a.left.photo.carousel-control, a.right.photo.carousel-control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 30%;
    cursor: pointer;
    width: 0;
    height: 0;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

span.glyphicon.photo.right {
  right: 10rem !important;
  border: none;
  width: 50px;
  height: 10rem;
  background: url(images/right.png) no-repeat;
  cursor: pointer;
}

span.glyphicon.photo.left {
  left: 5rem !important;
  border: none;
  width: 50px;
  height: 10rem;
  background: url(images/left.png) no-repeat;
  cursor: pointer;
}

#col {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 2em; /* Chrome, Safari, Opera */
  -moz-column-gap: 2em; /* Firefox */
  column-gap: 2em;
  -webkit-column-rule-style: 1px solid; /* Chrome, Safari, Opera */
  -moz-column-rule-style: 1px solid; /* Firefox */
  column-rule-style: 1px solid;
}

/* Photo Grid Start */

.photog-group.clearfix {
  float: left;
  width: 33.3%;
  cursor: pointer;
}

img.photog-headshot {
  background-color: #e8e8e8;
  border: .5px solid #bebebe;
}

/* Overlay from this Codepen: https://codepen.io/anon/pen/NOgEdY */

.content { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

.content .content-overlay {
  background: rgba(10, 56, 89, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h1 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-variant: small-caps;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

/* End Overlay */

/* Photog Icons */

.link-wrap {
    padding: 2%;
    border: 1px solid #00c1d9;
    margin: 0% 0% 3%;
    display: block;
    width: 100%;
    text-align: center;
}

.link-wrap.jung {
    margin: 0% 0% 2%;
}

.web-icon:before {
    content:url(/images/icons/web-icon.png);
    padding: 0% 2%;
    vertical-align: -35%;
}

.web-icon {
    font-variant: small-caps;

    display: block;
}

.int-icon:before {
    content:url(/images/icons/int-icon.png);
    padding: 0% 2%;
    vertical-align: -35%;
}

.int-icon {
    font-variant: small-caps;
    display: block;
}

/* Responsive Video Embed From https://avexdesigns.com/responsive-youtube-embed/ */

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-container:hover {
    opacity: .8;
}

/* Responsive Video Embed End */