/* Header */

.photo-grid-head h2 {
  text-align: center;
  color: #fff;
}

.photo-grid-head {
  width: 100%;
  text-align: center;
  background: #2eb6d1;
  padding: 1%;
  color: #fff;
}

.title-head.box {
    animation-duration: 1.4s;
    animation-name: slidein;
    -moz-animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

h1#photogs {
    animation-duration: 1.8s;
    animation-name: slidein;
    -moz-animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

/*h1.local-photogs {
    animation-duration: 1.4s;
    animation-name: slidein;
    -moz-animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}

h2.local-photogs {
    animation-duration: 1.8s;
    animation-name: slidein;
    -moz-animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
}*/



@keyframes slideRight {
    0% {
      transform: translateX(-150%);
    }
    50% {
      transform: translateX(8%);
    }
    65% {
      transform: translateX(-4%);
    }
    80% {
      transform: translateX(4%);
    }
    95% {
      transform: translateX(-2%);
    }
    100% {
      transform: translateX(0%);
    }
}
@-webkit-keyframes slideRight {
    0% {
      -webkit-transform: translateX(-150%);
    }
    50% {
      -webkit-transform: translateX(8%);
    }
    65% {
      -webkit-transform: translateX(-4%);
    }
    80% {
      -webkit-transform: translateX(4%);
    }
    95% {
      -webkit-transform: translateX(-2%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
}

/* Carousel Start */

.carousel-wrapper {
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.item.photo {
  height: auto;
}

.photo.sub-item h3 {
    font-weight: 600;
}

a.left.photo.carousel-control, a.right.photo.carousel-control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 30%;
    cursor: pointer;
    width: 0;
    height: 0;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

span.glyphicon.photo.right {
  right: 10rem !important;
  border: none;
  width: 50px;
  height: 10rem;
  background: url(images/right.png) no-repeat;
  cursor: pointer;
}

span.glyphicon.photo.left {
  left: 5rem !important;
  border: none;
  width: 50px;
  height: 10rem;
  background: url(images/left.png) no-repeat;
  cursor: pointer;
}

#col {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 2em; /* Chrome, Safari, Opera */
  -moz-column-gap: 2em; /* Firefox */
  column-gap: 2em;
  -webkit-column-rule-style: 1px solid; /* Chrome, Safari, Opera */
  -moz-column-rule-style: 1px solid; /* Firefox */
  column-rule-style: 1px solid;
}

/* Photo Grid Start */

.main-content.ng-scope {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.photog-group.clearfix {
  float: left;
  width: 33.3%;
  cursor: pointer;
}

img.photog-headshot {
  background-color: #e8e8e8;
  border: .5px solid #bebebe;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px;
  border-radius: 0px 5px 0px 0px; 
}

figcaption { 
  position: absolute;
  width: auto; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 
  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figcaption p {
    margin-bottom: 0px !important;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

/*figure:before { 
  content: "?"; 
  position: absolute; 
  background: rgba(255,255,255,0.75); 
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* Only Fx 4 supporting transitions on psuedo elements so far...
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  opacity: 0.75;  
}

figure:hover:before {
  opacity: 0;
}*/

.cap-left:before {  bottom: 10px; left: 10px; }

.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }